:root {
  --truist-purple: #4f2d7f;
  --truist-white: #ffffff;
  --truist-black: #000000;
}

.top-nav {
  background-color: var(--truist-purple);
}

.bot-nav {
  background-color: var(--truist-white);
}

/* Link colors */
.top-nav .nav-link {
  color: var(--truist-white);
}

.bot-nav .nav-link {
  color: var(--truist-black);
}
