#heroCTASection {
    height: 50vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1758273238075-f47862d79d9d?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}