:root {
    --color-purple-100: #A6A3E0;
    --color-purple-200: #72569E;
    --color-purple-300: #2E1A47;
}

body {
    color: var(--color-purple-300);
}

#hero-section {
    height: 50vh;
    width: 100vw;
}

#heroCTASection {
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right, #fff, transparent);;
    background-image: url(https://images.unsplash.com/photo-1758273238075-f47862d79d9d?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}



#CTAbutton {
    width: fit-content;
    background-color: var(--color-purple-200);
    color: white;
}